/* login page start */
#login-section .card {
  width: 450px;
}

#login-section .logo-container img {
  max-width: 200px;
  width: 100%;
}

#login-section .card h2 {
  color: #566a7f;
  font-size: 2.4rem;
  line-height: 2.6rem;
  font-weight: 500;
}

#login-section .card h2 ~ p {
  color: #697a8d;
  font-size: 1.5rem;
  line-height: 2.3rem;
}

#login-section .c-c-password-label,
#login-section .c-c-email-label {
  color: #566a7f;
  font-size: 1.2rem;
  line-height: 1.84rem;
  font-weight: 500;
}

#login-section input[type="password"]::placeholder,
#login-section input[type="email"]::placeholder {
  color: #697a8d;
  font-size: 1.5rem;
  line-height: 2.3rem;
}

#login-section .c-c-password-label ~ a {
  color: #1ca1aa;
  font-size: 1.3rem;
  line-height: 2rem;
  text-decoration: none;
}

#login-section .bi-eye-slash-fill {
  font-size: 1.5rem;
  line-height: 1.5rem;
  color: #697a8d;
}

#login-section .form-check-label {
  color: #697a8d;
  font-size: 1.5rem;
  line-height: 2.3rem;
}

#login-section button[type="submit"] {
  font-size: 1.5rem;
  line-height: 2.3rem;
  color: #fff;
  background: #0396a1;
}

#login-section button[type="submit"]:hover {
  color: #fff;
  background: #038791;
  transform: scale(1.01);
  transform: translateY(-1px);
  transition: all 0.2s;
}

#login-section form ~ div {
  font-size: 1.5rem;
  line-height: 2.3rem;
  color: #697a8d;
}

#login-section form ~ div a {
  font-size: 1.5rem;
  line-height: 2.3rem;
  color: #1ca1aa;
}
