
.notfound-section{
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    
}
.notfound-section .card{
   height: 400px;
   position: relative;
   margin: auto;
   box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
   overflow: hidden;
   
   
   

}
.notfound-section .card .card-bar{
    background-color: #1ca1aa;
}
.notfound-section .card .card-bar div{
    width: 10px;
    height: 10px;
    gap: 5px;
    border-radius: 50%;
    background-color: white;

    

}
.notfound-section .card .card-body{
    display: flex;
    align-items: center;
    justify-content: center;
}
.notfound-section .card .card-body .error-code{
    font-size: 7.5rem !important;
    letter-spacing: 10px !important;
}
.notfound-section .card .card-body .error-des{
    font-size: 1.5rem !important;
}
.notfound-section .card .img-part{
    position: absolute;
    bottom:-.7rem !important;
    left: -2.9rem !important;
    /* margin-top: 14.5rem !important;
    margin-left: -27px !important; */
    

}
.notfound-section .card .img-part img{
    width: 100%;
    
}
